[user]
	name = Erik Nelson
	email = nerik43@gmail.edu

[alias]
  tree = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	d = difftool

[core]
  pager = less -r

[color]
  ui = auto # covers diff = true, status = auto, branch = auto
  interactive = auto

[mergetool "meld"]
	path = /usr/bin/meld
